In [46]:
#importing initial data preprocessing and feature engineering Libraries
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sb 

#importing WordCloud for text Visualization
from wordcloud import WordCloud

#importing NLKT for natural language processing
import nltk
from nltk.corpus import stopwords
#downloading NLTK data
nltk.download('stopwords')
nltk.download('punkt')
import nltk

[nltk_data] Downloading package stopwords to C:\Users\GIHAN
[nltk_data]     LAKMAL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\GIHAN
[nltk_data]     LAKMAL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [47]:
df = pd.read_csv("spam.csv")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

sinsce this datasheet already cleaned , ill go with tjust dropping umnneccecery columns and stuff

In [48]:
df.drop(columns=['Unnamed: 2' , 'Unnamed: 3' , 'Unnamed: 4']  ,inplace=True)
df.head(10)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [49]:
df.rename(columns={'v1':'target' , 'v2':'text'} , inplace=True)
df.head(10)

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
6    ham  Even my brother is not like to speak with me. ...
7    ham  As per your request 'Melle Melle (Oru Minnamin...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...

Data Preprocessing

In [50]:
from sklearn.preprocessing import LabelEncoder
encoder =LabelEncoder()
df["target"] = encoder.fit_transform(df["target"])
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [51]:
df.duplicated().sum()

np.int64(403)

In [52]:
df = df.drop_duplicates(keep='first')

In [53]:
df.duplicated().sum()

np.int64(0)

In [54]:
# Importing the Porter Stemmer for text stemming
from nltk.stem.porter import PorterStemmer

# Importing the string module for handling special characters
import string

# Creating an instance of the Porter Stemmer
ps = PorterStemmer()

Function for transform text into lower case , tokenizing the sentences , removeing special char , removinng stopwords , stemming useing potstemmer , Join the processed tokens back into a single string

In [55]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

# Ensure required NLTK resources are downloaded
nltk.download('punkt')
nltk.download('stopwords')

# Initialize the Porter Stemmer
ps = PorterStemmer()

# Lowercase transformation and text preprocessing function
def transform_text(text):
    # Transform the text to lowercase
    text = text.lower()
    
    # Tokenization using NLTK
    text = nltk.word_tokenize(text)
    
    # Removing special characters
    y = [i for i in text if i.isalnum()]
            
    # Removing stop words and punctuation
    text = [i for i in y if i not in stopwords.words('english') and i not in string.punctuation]
        
    # Stemming using Porter Stemmer
    text = [ps.stem(i) for i in text]
    
    # Join the processed tokens back into a single string
    return " ".join(text)

[nltk_data] Downloading package punkt to C:\Users\GIHAN
[nltk_data]     LAKMAL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\GIHAN
[nltk_data]     LAKMAL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Having a issue with Installing and downloading 'punkt'

In [56]:
import nltk
print(nltk.data.path)

['C:\\Users\\GIHAN LAKMAL/nltk_data', 'c:\\Users\\GIHAN LAKMAL\\AppData\\Local\\Programs\\Python\\Python313\\nltk_data', 'c:\\Users\\GIHAN LAKMAL\\AppData\\Local\\Programs\\Python\\Python313\\share\\nltk_data', 'c:\\Users\\GIHAN LAKMAL\\AppData\\Local\\Programs\\Python\\Python313\\lib\\nltk_data', 'C:\\Users\\GIHAN LAKMAL\\AppData\\Roaming\\nltk_data', 'C:\\nltk_data', 'D:\\nltk_data', 'E:\\nltk_data']

In [57]:
import nltk
nltk.download('punkt', download_dir="C:/nltk_data")
nltk.data.path.append('C:/nltk_data')

[nltk_data] Downloading package punkt to C:/nltk_data...
[nltk_data] Error downloading 'punkt' from
[nltk_data]     <https://raw.githubusercontent.com/nltk/nltk_data/gh-
[nltk_data]     pages/packages/tokenizers/punkt.zip>:   <urlopen error
[nltk_data]     [Errno 11001] getaddrinfo failed>

In [58]:
import nltk

# Specify the path explicitly where you want to download the 'punkt' data
nltk.download('punkt', download_dir='C:\\Users\\GIHAN LAKMAL\\nltk_data')

[nltk_data] Downloading package punkt to C:\Users\GIHAN
[nltk_data]     LAKMAL\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [59]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to C:\Users\GIHAN
[nltk_data]     LAKMAL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [60]:
transform_text('Hey good morning all IM grammer from University of kelaceaeniya ')

'hey good morn im grammer univers kelaceaeniya'

Adding Transformed text into a new column called "transformed_text"

In [61]:
df['transformed_text'] = df['text'].apply(transform_text)
df.head()

,target,text,transformed_text
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri 2 wkli comp win fa cup final tkt 21...
3,0,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah think goe usf live around though

Step-by-Step Explanation:
Importing Libraries:

CountVectorizer and TfidfVectorizer are both used to convert text data into numerical features. Here, we use TfidfVectorizer to capture the importance of each word in a document relative to the entire dataset.
Initializing TfidfVectorizer:

tfid = TfidfVectorizer(max_features=500) creates an instance of TfidfVectorizer. The max_features=500 argument means that we will keep the top 500 most important words based on their TF-IDF scores (ignoring less important words).
Transforming Text Data:

X = tfid.fit_transform(df['transformed_text']) applies the TF-IDF transformation to the transformed_text column of the dataframe (df). It returns a sparse matrix that represents the TF-IDF scores for each word in the documents.
.toarray() converts this sparse matrix into a dense array of numbers. Each row of this array corresponds to a document (text message), and each column corresponds to a word's TF-IDF score.
Extracting Target Labels:

y = df['target'].values extracts the target labels from the dataset (df). These labels indicate whether the message is ham (0) or spam (1).
After this transformation, X is a matrix containing the TF-IDF scores for the words in each message, and y contains the corresponding labels. This prepared data can now be used to train a machine learning model to classify text messages as spam or ham.

In [62]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
tfid = TfidfVectorizer(max_features = 500)
X = tfid.fit_transform(df['transformed_text']).toarray()
y = df['target'].values

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state = 2)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [87]:
svc = SVC(kernel= "sigmoid", gamma  = 1.0)
knc = KNeighborsClassifier()
mnb = MultinomialNB()
dtc = DecisionTreeClassifier(max_depth = 5)
lrc = LogisticRegression(solver = 'liblinear', penalty = 'l1')
rfc = RandomForestClassifier(n_estimators = 50, random_state = 2 )
abc = AdaBoostClassifier(n_estimators = 50, random_state = 2)
bc = BaggingClassifier(n_estimators = 50, random_state = 2)
etc = ExtraTreesClassifier(n_estimators = 50, random_state = 2)
gbdt = GradientBoostingClassifier(n_estimators = 50, random_state = 2)    
xgb  = XGBClassifier(n_estimators = 50, random_state = 2)

In [88]:
clfs = {
    'SVC': svc,
    'KNN': knc,
    'NB': mnb,
    'DT': dtc,
    'LR': lrc,
    'RF': rfc,
    'Adaboost': abc,
    'Bgc': bc,
    'ETC': etc,
    'GBDT': gbdt,
    'xgb': xgb
    
}

In [89]:
from sklearn.metrics import accuracy_score, precision_score
def train_classifier(clfs, X_train, y_train, X_test, y_test):
    clfs.fit(X_train,y_train)
    y_pred = clfs.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    return accuracy , precision

In [ ]:
accuracy_scores = []
precision_scores = []

for name, clf in clfs.items():  # <- Add parentheses to `.items()`
    current_accuracy, current_precision = train_classifier(clf, X_train, y_train, X_test, y_test)
    
    print(f"\nFor: {name}")
    print(f"Accuracy: {current_accuracy}")
    print(f"Precision: {current_precision}")
    
    accuracy_scores.append(current_accuracy)
    precision_scores.append(current_precision)

For: SVC
Accuracy: 0.9671179883945842
Precision: 0.9333333333333333

For: KNN
Accuracy: 0.9274661508704062
Precision: 1.0

For: NB
Accuracy: 0.9709864603481625
Precision: 0.9655172413793104

For: DT
Accuracy: 0.9361702127659575
Precision: 0.9

For: LR
Accuracy: 0.9632495164410058
Precision: 0.9629629629629629

For: RF
Accuracy: 0.9700193423597679
Precision: 0.9421487603305785

For: Adaboost
Accuracy: 0.9235976789168279
Precision: 0.8734177215189873

For: Bgc
Accuracy: 0.9622823984526112
Precision: 0.9024390243902439

For: ETC
Accuracy: 0.9709864603481625
Precision: 0.921875

For: GBDT
Accuracy: 0.9497098646034816
Precision: 0.93

For: xgb
Accuracy: 0.9690522243713733
Precision: 0.9568965517241379

In [ ]:
a = max(accuracy_scores)

0.9709864603481625